
<div class = "container">
  <div class="jumbotron">
    <h1>(Skule) Club Database</h1>
    <p>...</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Affiliate Here!</a></p>
  </div>
</div>
